// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    background-color: #4928A0

    .navListLink
        color: #ffffff
        text-decoration: none
