// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @mixin for-phone-only {
//   @media (max-width: 599px) { @content }
// }
// @mixin for-tablet-portrait-up {
//   @media (min-width: 600px) { @content }
// }
// @mixin for-tablet-portait-only {
//   @media (min-width: 600px) and (max-width: 899px) { @content }
// }
// @mixin for-tablet-landscape-up {
//   @media (min-width: 900px) { @content }
// }
// @mixin for-tablet-landscape-only {
//   @media (min-width: 900px) and (max-width: 1199px) { @content}
// }
// @mixin for-desktop-up {
//   @media (min-width: 1200px) { @content }
// }
// @mixin for-desktop-only {
//   @media (min-width: 1200px) and (max-width: 1799px) { @content }
// }
// @mixin for-big-desktop-up {
//   @media (min-width: 1800px) { @content }
// }

body 
    margin: 0
    background-color: #4928A0
    display: flex
    flex-direction: column
    font-family: "Lato", sans-serif
    justify-content: center
    align-items: center

    .navListLink
        color: #f6f6f6f6
        text-decoration: none

    h1 
        font-size: 50px
    
    h2 
        font-size: 40px
    p 
        font-size: 20px
    
    .homePage
        display: flex
        flex-direction: column
        justify-content: center
    
    .row
        display: flex
        flex-direction: row
        justify-content: space-evenly
        flex-wrap: wrap

        // @media (max-width: 599px)
        //     display: flex
        //     flex-direction: column
        //     justify-content: space-between

    
    .column
        flex-direction: column
        justify-content: center
        width: 50%
        @media (max-width: 599px)
            width: 100%